<%- include("header") %> 

<div class="box" id="heading">
    <h1>About the App</h1>
</div>
<div class="box">
    <p>This app allows the user to create different to do lists
        and enter items needed to be done for each list.
    </p>
</div>

<%- include("footer") %> 