<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>To-Do List</title>
</head>

<body>
    <div class="box" id="heading">
        <h1><%= kindOfDay %></h1>
    </div>
    
    <ul>
        <% for( let index = 0; index < newListItems.length; index++ ) { %>
            <li><%= newListItems[index] %></li>
        <% } %>
    </ul>

    <form action="/" method="post">
        <input type="text" name="newItem" placeholder="Enter New Item">
        <button type="submit" name="button">Create Item</button>
    </form>
</body>

</html>